.trash-btn{
    background: #ff6f47;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 15px;
    transition: 0.3s;
    border-radius: 4px;
  }
  
  .trash-btn:hover{
    opacity: 0.5;
  }
  
  .todo-item {
    padding: 0rem 0.5rem;
    
  }
  
  .fa-trash{
  background-color:#ff6f47;
  pointer-events: none;
  
  
  }
  
  .todo {
      margin: 0.5rem;
      font-size: 1.5rem;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 1s ease;
      color: #ebeb00;

      
      
      
      
      
    }
    
   



    .todo li{
        list-style: none;
        
        
        
        
        
    }
  #update{
    width: 15%;
    height: 15px;
  }

  #btnupdate{
  background-color: #282828; /* Green */
  border: solid 3px #ebeb00;
  border-radius: 5px;
  color: #ebeb00 ;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  }
    label{
      color: ghostwhite;
    }
  
    @media (max-width: 800px) {
      .todo {
        
      }
  
      todo li{
        width: 100%
        
      }
    }