*{
    box-sizing: border-box;
    
    
    
}

body{
    background-color: #282828;
    padding: 0;
    margin: 0;
}


header{
    float: right;
}

html {
    font-family: Roboto, sans-serif;
}

.completed{
    text-decoration: line-through;
    color: green;
}
